<%- model_class = CurrentTelematicsDatum -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:vehicle_id) %></th>
      <th><%= model_class.human_attribute_name(:vin_number) %></th>
      <th><%= model_class.human_attribute_name(:gps_date_time) %></th>
      <th><%= model_class.human_attribute_name(:lat) %></th>
      <th><%= model_class.human_attribute_name(:lon) %></th>
      <th><%= model_class.human_attribute_name(:direction) %></th>
      <th><%= model_class.human_attribute_name(:gps_speed) %></th>
      <th><%= model_class.human_attribute_name(:soc) %></th>
      <th><%= model_class.human_attribute_name(:dte) %></th>
      <th><%= model_class.human_attribute_name(:odometer) %></th>
      <th><%= model_class.human_attribute_name(:car_status) %></th>
      <th><%= model_class.human_attribute_name(:hvac_status) %></th>
      <th><%= model_class.human_attribute_name(:server_time) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @current_telematics_data.each do |current_telematics_datum| %>
      <tr>
        <td><%= current_telematics_datum.id %></td>
          <td><%= current_telematics_datum.vehicle_id %></td>
          <td><%= current_telematics_datum.vin_number %></td>
          <td><%= current_telematics_datum.gps_date_time %></td>
          <td><%= current_telematics_datum.lat %></td>
          <td><%= current_telematics_datum.lon %></td>
          <td><%= current_telematics_datum.direction %></td>
          <td><%= current_telematics_datum.gps_speed %></td>
          <td><%= current_telematics_datum.soc %></td>
          <td><%= current_telematics_datum.dte %></td>
          <td><%= current_telematics_datum.odometer %></td>
          <td><%= current_telematics_datum.car_status %></td>
          <td><%= current_telematics_datum.hvac_status %></td>
          <td><%= current_telematics_datum.server_time %></td>
        <td><%=l current_telematics_datum.created_at, format: :long %></td>
        <td>
          <%= link_to current_telematics_datum_path(current_telematics_datum), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
          <%- end -%>
          <%= link_to edit_current_telematics_datum_path(current_telematics_datum), :class => 'btn btn-xs', :title => "#{ t('.edit', :default => t('helpers.links.edit')) }" do %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to current_telematics_datum_path(current_telematics_datum), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_current_telematics_datum_path,
            :class => 'btn btn-primary' %>
